mixin videoList(info)
    div.video_list
        a(href=`/videos/${info.id}`)
            div.video_thumb(style=`background-image:url(${"/"+info.thumbUrl});background-size:cover;background-position:center;`)
            h4=info.title
            p=info.description
            div.video_data
                ul      
                    each hashtags in info.hashtags
                        li=hashtags 
                small=info.createdAt
                span #{info.meta.view} #{info.meta.view === 1? "view":"views"}
            hr 