mixin videoList(video)
    h4
        a(href=`/videos/${video.id}`) #{video.title}
    ul 
        li  Created At #{video.createdAt}
        li  Hashtags #{video.hashtags}
        li  Rating #{video.rate}
        li  #{video.views} #{video.views === 1 ? "views" : "view"}
        li  ID No.#{video.id}