extends base

block contents 
    h2 Update Video
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="title" type="text" placeholder=" VIDEO TITLE " maxlength=20 value=video.title required)
        input(name="description" type="text" placeholder=" Description Video" minlength=10 value=video.description required)
        input(name="createAt" type="text" placeholder="Write on Create At" value=video.createdAt required)
        input(name="hashtags" type="text" placeholder="Split by Comma" value=video.hashtags.join() required)
        input(type="submit" value="SAVE")
        input(type="button" value="CANCEL" onclick="location.href=`/`")
