extends base.pug

block content 
    h1=video.title
    p=video.description
    small=video.createdAt
    h3 #{video.views} #{video.views  === 1 ? "view" : "views"}
    //- inline if문 video.views가 1과 같다면 view 그것이 아니라면 views 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;