extends base

block contents
    h3 #{video.title}
    span
        li=video.description
        li=video.createdAt
        li=video.hashtags
        li  Views #{video.view}
        li  Rating #{video.rate} / 5
       
    br
    a(href=`/videos/${video.id}/edit`) Edit Video &rarr; 
    br
    a(href=`/videos/${video.id}/delete`) Delete Video &rarr;