extends base

block contents
    div.watch
        div#videoContainer(data-Id=video._id)
            video(src="/"+video.fileUrl)
            div#videoControls
                button
                    i#play.fa-solid.fa-play 
                div.time
                    span#currentTime 00:00:00
                    span  | 
                    span#totalTime 00:00:00
                input#timeline(type="range" step="1" value=0 min="0" max="")
                input#volume(type="range" step="0.1" value="0.5" min="0" max="1")
                button 
                    i#mute.fa-solid.fa-volume-high
                div 
                    button#fullScreen.fas.fa-maximize
        div.watch_data
            div.watch_meta
                h3 #{video.title}
                small Uploaded by 
                    a(href=`/users/${video.owner._id}`) #{video.owner.name}
                p=video.description
                small=video.createdAt
                li=video.hashtags
                small  #{video.meta.view} #{video.meta.view === 1? "view":"views"}
                small  Rating #{video.rate} / 5
            div.watch_owner-menu
                if String(video.owner._id) === String(loggedInUser._id)
                    br
                    a(href=`/videos/${video.id}/edit`) Edit Video &rarr; 
                    br
                    a(href=`/videos/${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__add-comments 
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment")
                button Add Comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment
                    i.fas.fa-comment
                    span  #{comment.text}
block scripts
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
    script(src="/assets/js/commentSection.js")